<div class="center search-form-control">
<p class = "fw-bold answer"> Ask your coach anything : </p>
<form id ="form" class="search-form-control" action="/answer" data-turbo="false">
  <input class ="form-control" type="text" name="question">
 <button name="button" type="submit" class="btn">
     Search
  </button>
</form>
</div>
